.dataTable {
    margin-top: 10px;
    background: #fff;
    border-radius: 3px; 
    width: 90%;
    margin: auto;
}

.dataTable .dataTables_length {
    padding: 15px 0 0 15px;
}
.dataTable .dataTables_filter {
    padding: 15px 15px 0 0;
}

div.dataTables_wrapper div.dataTables_length select {
    width: auto;
    display: inline-block;
}

div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
}
.label {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 0.5rem;
}
.searchLabel {
    display: flex;
    gap: 5px;
    align-items: baseline;
}

